In [1]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
import json 
from unidecode import unidecode
from textblob import TextBlob

## Open

In [2]:
df_op = pd.read_csv('Alisson/opinioes.csv')
df_nt = pd.read_csv('Gabriel/notasUser.csv')
df_st1 = pd.read_csv('Gustavo/sent_1.csv')
#df_st5 = pd.read_csv('Gustavo/sent_5.csv')
#df_st6 = pd.read_csv('Gustavo/sent_6.csv')
#df_st7 = pd.read_csv('Gustavo/sent_7.csv')
df_st8 = pd.read_csv('Gustavo/sent_8.csv')

## Renomeando Colunas

In [3]:
df_st1.columns = ['id','comentario ingles','comentario polaridade','comentario subjetividade']
#df_st5.columns = ['id','pros ingles','pros polaridade','pros subjetividade']
#df_st6.columns = ['id','contras ingles','contras polaridade','contras subjetividade']
#df_st7.columns = ['id','defeitos ingles','defeitos polaridade','defeitos subjetividade']
df_st8.columns = ['id','opiniao geral ingles','opiniao geral polaridade','opiniao geral subjetividade']

## Merge

In [4]:
df = pd.merge(df_op, df_nt, left_on='id',right_on='ID')
df = pd.merge(df, df_st1, left_on='id',right_on='id')
#df = pd.merge(df, df_st5, left_on='id',right_on='id')
#df = pd.merge(df, df_st6, left_on='id',right_on='id')
#df = pd.merge(df, df_st7, left_on='id',right_on='id')
df = pd.merge(df, df_st8, left_on='id',right_on='id')

## Normalizando

$10*\dfrac{(X-min)}{(max+min)}$

In [5]:
df['comentario polaridade'] = 10*(df['comentario polaridade'] - df['comentario polaridade'].min())/(df['comentario polaridade'].max()-df['comentario polaridade'].min())
df['comentario subjetividade'] = 10*(df['comentario subjetividade'] - df['comentario subjetividade'].min())/(df['comentario polaridade'].max()-df['comentario subjetividade'].min())
df['opiniao geral polaridade'] = 10*(df['opiniao geral polaridade'] - df['opiniao geral polaridade'].min()) / (df['opiniao geral polaridade'].max() - df['opiniao geral polaridade'].min())
df['opiniao geral subjetividade'] = 10*(df['opiniao geral subjetividade'] - df['opiniao geral subjetividade'].min()) / (df['opiniao geral subjetividade'].max() - df['opiniao geral subjetividade'].min())

## Save

In [6]:
df.to_csv('dados.csv',index=False)

In [7]:
df.head()

,id,comentario,carro,ano,proprietario,cidade,estado,posse,quilometragem,anterior,...,Estabilidade,CustoBeneficio,Recomendacao,AvGeral,comentario ingles,comentario polaridade,comentario subjetividade,opiniao geral ingles,opiniao geral polaridade,opiniao geral subjetividade
0,e2b9dc08,"""MELHOR POPULAR DO MERCADO AT� 2012""",Chevrolet Celta LT 1.0,2011/2012,Jo�o,Bras�lia,DF,6,35200.0,Fiat Uno,...,10,10,10,8.600000,BEST POPULAR OF THE MARKET UNTIL 2012,9.00,0.600,THE CAR IS 10 I'M WITH IT TO 7 YEARS AND I WEN...,6.037500,4.731250
1,3b9dcf63,"""�timo carro a um custo baixo!""",Chevrolet Celta LT 1.0,2015/2015,Hugo,S�o Pedro,SP,3,59000.0,Chevrolet Celta,...,8,10,10,8.666667,Great car at a low cost!,7.00,0.525,This is the second Celtic I buy 0km and I do n...,6.491667,5.533333
2,9f62a709,"""Excelente!""",Chevrolet Celta Life 1.0,2004/2005,Ivan,Salvador,BA,1,80000.0,Primeiro carro,...,8,10,10,8.533333,Great!,10.00,0.750,"I recommend: brave car, relatively comfortable...",6.837857,6.960714
3,0e6c8d29,"""Rapido e economico""",Chevrolet Celta LT 1.0,2012/2013,Gabriel,Porto Alegre,RS,3,89000.0,Volkswagen Parati,...,10,9,10,8.533333,Fast and economical,6.25,0.750,I have already gone through trails where truck...,6.333333,7.083333
4,3c958631,"""Carro honesto.""",Chevrolet Celta Life 1.0,2007/2008,Deleon,Bras�lia,DF,7,150247.0,Volkswagen Passat,...,9,8,9,7.066667,Honest car.,8.00,0.900,"Honest car. For first vehicle, better than goa...",7.208333,5.375000